/vendor

!uploads/

uploads/berkas/*
uploads/laporan/*
uploads/suratMhs/*
uploads/honorium/*
uploads/dosen/*
uploads/suratRstDosen/*

!uploads/**/dummy.txt
!uploads/berkas/
!uploads/laporan/
!uploads/suratMhs/
!uploads/honorium/
!uploads/dosen/
!uploads/suratRstDosen/

backup/json/*.json